body {
	margin: 0;
	padding:0;
	font-size: 18px; 
}

.heading {
	text-align: center;
	color: red;
	height: 500px;
	width: 100%;
	background: url('http://3.bp.blogspot.com/-pMR2lmHsAQo/T58ZsGri0LI/AAAAAAAAAHI/gNSONDVRVJY/s400/Country_Navigation_Icons.png') blue no-repeat center center fixed;
	background-size: cover;
}

.search {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	
}

.searchCountry {
	margin: 0 auto;
	background-color: red;
	font-size: 24px;
	 -webkit-transition: all 0.3s ease;

}

.searchCountry:hover {
	background-color: blue;
	color: white;
	-webkit-box-shadow: 0px 0px 0 #666;
}

.intro {
	text-align: center;
	font-size: 24px;
}

table {
	margin: 0 auto;
  	border-collapse: collapse;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}
 input {
 	width: 50%;
 	font-size: 24px;
 	text-align: center;
 }
