<div class="search">
	<input type='text' class="searcher" placeholder="COUNTRIES AND CAPITALS" ng-model="search" />
</div>
<div ng-if='loading'> searching for countries...</div>

<div ng-if='!loading'> 
	<table> 
		<caption> Country info</caption>
		<thead>
			<tr> 
				<th> Name</th>
				<th> Country Code</th>
				<th> Capital</th>
				<th> Area in km</th>
				<th> Continent</th>
				<th> Population</th>

			</tr>
		</thead>

		<tbody>
			<!-- <tr ng-repeat="country in countries track by $index|filter:search|limitTo:10"> --> 
			<tr ng-repeat="country in countries |filter:search|limitTo:10 "> 

				<!-- <td> <a ng-href="#/countries/{{country.countryCode}}"{{country.countryName}}</a> </td> -->
				<td>
        			<a class="cac-a" ng-href="#!/countries/:{{ country.countryCode }}">{{ country.countryName }}</a>
      			</td>


				<!-- <td>{{country.countryName}}</td> -->
				<td>{{country.countryCode}} </td>
				<td>{{country.capital}} </td>
				<td>{{country.areaInSqKm}} </td>
				<td>{{country.continentName}} </td>
				<td>{{country.population}} </td>




			</tr>
		</tbody>


	</table>

</div>

<div class="search"> 
	<a href="#/home" target="new" <button class="searchCountry">Home</button> </a>

</div>
